cscope.*
tags

configure
INSTALL
stamp-*

Makefile
Makefile.in
config.*
.deps
.libs
*.o
*.lo
*.la

*.swp
tests/ltcdecode
tests/ltcencode
doc/html/

atconfig
depcomp
compile
aclocal.m4
libtool
missing
ltmain.sh
install-sh

autom4te.cache/

ltc.pc
Doxyfile
