cscope.*
tags

configure
stamp-*

Makefile
Makefile.in
config.*
.deps
.libs
*.o
*.lo
*.la

*.swp
tests/ltcdecode
tests/ltcencode
tests/output.raw

doc/html/
doc/man/man3/mainpage.dox.3
doc/man/man3/*libltc_src_.3

doc/libltc.xcf
libltc-[0-9\.]*.tar.gz

atconfig
depcomp
compile
aclocal.m4
libtool
missing
ltmain.sh
install-sh

autom4te.cache/

ltc.pc
Doxyfile
