#include <winver.h>
#include "ltc.h"

#ifdef GCC_WINDRES
VS_VERSION_INFO		VERSIONINFO
#else
VS_VERSION_INFO		VERSIONINFO	MOVEABLE IMPURE LOADONCALL DISCARDABLE
#endif
  FILEVERSION		LIBLTC_VERSION_MAJOR,LIBLTC_VERSION_MINOR,LIBLTC_VERSION_MICRO,0
  PRODUCTVERSION	LIBLTC_VERSION_MAJOR,LIBLTC_VERSION_MINOR,LIBLTC_VERSION_MICRO,0
  FILEFLAGSMASK		VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS		1
#else
  FILEFLAGS		0
#endif
  FILEOS		VOS__WINDOWS32
  FILETYPE		VFT_DLL
  FILESUBTYPE		0	// not used
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    //language ID = U.S. English, char set = Windows, Multilingual
    BEGIN
      VALUE "FileDescription",	"Linear/Logitudinal Time Code (LTC) Library\0"
      VALUE "FileVersion",	LIBLTC_VERSION "\0"
      VALUE "InternalName",	"libltc.dll\0"
      VALUE "LegalCopyright",	"Copyright (C) Robin Gareus and Jan Weiß\0"
      VALUE "OriginalFilename",	"libltc.dll\0"
      VALUE "ProductName",	"libltc\0"
      VALUE "ProductVersion",	LIBLTC_VERSION "\0"
      VALUE "Comments",		"For more information visit https://x42.github.io/libltc/\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END
